<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ivan Ravić portfolio website. Website was designed and made by software developer Ivan Ravić"
    />
    <link rel="icon" href="{{url_for('static',filename='img/r.svg')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/queries.css')}}"
    />

    
    <title>Ivan Ravić &mdash; Portfolio</title>
  </head>
  <body>
    <main>
      <section class="header-container project-page" id="home">
        <header class="header">
          <nav class="main-nav">
            <ul class="main-nav-list project-page">
              <li>
                <a
                  class="main-nav-link project-page"
                  href="{{url_for('home')}}#projects"
                  >Projects</a
                >
              </li>
              <li>
                <a
                  class="main-nav-link project-page"
                  href="{{url_for('home')}}#contact"
                  >Contact</a
                >
              </li>
              <li>
                <a
                  class="main-nav-link project-page"
                  href="{{url_for('home')}}#about"
                  >About</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  class="main-nav-link project-page nav-resume"
                  href="{{url_for('resume_pdf')}}"
                  >Resume</a
                >
              </li>
            </ul>
          </nav>
          <button class="btn-mobile-nav">
            <ion-icon
              class="icon-mobile-nav project-page"
              name="menu-outline"
            ></ion-icon>
            <ion-icon
              class="icon-mobile-nav project-page"
              name="close-outline"
            ></ion-icon>
          </button>
        </header>
      </section>
      <div class="container-project-page">
        <div class="heading-container">
          <span class="subheading project-page">Follower Checker</span>
          <h2 class="heading-secondary">
            Follower checker - bot for checking followers
          </h2>
        </div>
        <div class="about-text grid container grid--1-cols project-page">
          <div class="about-description">
            <div class="about-container">
              <span class="about-describe describe-project"
                >Follower checker is an application that enables the automatic
                collection and comparison of the list of followers and users who
                are being followed.
              </span>
            </div>
          </div>
          <div class="video-project-page-container">
            <video
              controls
              class="video-project-page"
              src="{{url_for('static', filename='img/Follower_checker.mp4')}}"
              alt="Video of using Follower checker"
            >
          </div>
          <div class="about-description">
            <p class="heading-tertiary">Project Purpose and Goal</p>
            <div class="about-container">
              <span class="about-describe describe-project"
                >The application was created to simplify the comparison of the
                follower list and the following list. Using the application is
                designed to be simple and user-friendly.
              </span>
            </div>
          </div>
          <div class="about-description">
            <p class="heading-tertiary">The technology used and Explanation</p>
            <div class="about-container">
              <span class="about-describe describe-project"
                ><p>
                  The design of the application was done in
                  <strong>Figma</strong>. The UI was built using
                  <strong>Tkinter</strong>. And automatic work is achieved
                  thanks to the <strong>Selenium</strong> library and the
                  <strong>Python</strong> programming language.
                </p>
                <p>
                  After starting the application, it is necessary to enter the
                  username, password and start the check by pressing the button.
                  Using a browser, the application logs in to the profile and
                  collects the necessary lists. After that, compares the lists,
                  and using the <strong>Pandas</strong> library, writes
                  followings who did not follow back into the Excel table and
                  save that file.
                </p>
              </span>
            </div>
          </div>
          <div class="about-description">
            <p class="heading-tertiary">Problems and Thought Process</p>
            <div class="about-container">
              <span class="about-describe describe-project"
                ><p>
                  The biggest problem of the application is the frequent change
                  of HTML tags on the website, which Selenium uses for
                  targeting. This problem can be solved by periodically updating
                  the application.
                </p>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="to-the-top-link">
        <a href="#home" class="to-the-top prevent-default-link"> Back to top</a>
      </div>
    </main>
    <footer class="footer">
      <p class="copyright">
        Designed and made by Ivan Ravić&nbsp;&copy;&nbsp;<span class="year"
          >2021</span
        >
      </p>
    </footer>
    <script defer src="{{url_for('static', filename='assets/script.js')}}"></script>
    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
